<mat-toolbar color="primary" class="toolbar">

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{title}}</span>
  <span>{{setUserName()}}</span>

  <div class="auth-nav" *ngIf="!isLoggedIn">

    <button mat-button
            class="button login"
            [routerLink]="'/login'"
    >
      Login
    </button>

    <button mat-button
            class="button registration"
            [routerLink]="'/registration'">
      Registration
    </button>
  </div>

  <button *ngIf="isLoggedIn" mat-button
          class="button logout"
          [routerLink]="'/login'">
    LogOut
  </button>

</mat-toolbar>
