<div class="container">

  <mat-list>
    <mat-list-item>
      <app-slide-toggle></app-slide-toggle>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-slider aria-label="unit(s)"></mat-slider>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <section>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
    </mat-list-item>
  </mat-list>
</div>
