:host {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
}
