<div class="container">
  <app-user-search (valueChanged)="onSearch($event)"></app-user-search>
  <app-user-list *ngIf="userCardsPerPage$ | async as userCards"
                 [usersAsCards]="userCards"
                 [favourites]="favourites$ | async"
  ></app-user-list>
  <mat-paginator [length]="(userCards$ | async)?.length"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10]"
                 (page)="handlePaginatorChanges($event)"
                 aria-label="Select page">
  </mat-paginator>
</div>
