<div [formGroup]="address" class="address-container">
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput formControlName="addressLine">
      <mat-error *ngIf="address.get('addressLine')?.invalid">{{errorMessages[0]}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city">
            {{city}}
          </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zip</mat-label>
    <input matInput formControlName="zip">
      <mat-error *ngIf="address.get('zip').invalid">{{errorMessages[1]}}"></mat-error>
  </mat-form-field>

</div>
