<button
  mat-raised-button
  color="primary"
  (click)="toggleAllUsersActivity()">Toggle Users Activity
</button>

<button
  mat-raised-button
  color="primary"
  [disabled]="isDisabled()"
  (click)="toggle()">{{isAllCardsShown ? 'Hide inactive' : 'Show all'}}
</button>
<div class="items">
  <app-user-item *ngFor="let user of users"
                 [user]="user"
                 [hidden]="!isAllCardsShown && !user.activated"
                 (toggle)="changeUserActivityStatus(user, $event)"
                 #userItem
  ></app-user-item>
</div>
