<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{card.title}}</mat-card-title>
    <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img class="card-image" src="{{card.imgSrc}}" alt="Photo of a card">
  <mat-card-content>
    <p>
      {{card.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="handleAddToFavouritesClick()">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
