.add-user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #673ab7;
  border-radius: 5%;
  width: 400px;
  padding: 10px 10px;
}
