:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #673ab7;
  border-radius: 5%;
  width: 400px;
  height: 800px;
  padding: 20px 10px;
}

.mat-raised-button {
  width: 100px;
}


