:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-form-field {
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #673ab7;
  border-radius: 10%;
  width: 400px;
  height: 600px;
  padding: 20px 10px;
}

mat-radio-button {
  width: 70px;
  margin-left: 10px;
}
