<form *ngFor="let address of addresses.controls, let index" [formGroup]="address" class="addressForm">

  <button type="button" mat-button color="warn" (click)="removeAddress(index)">-</button>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput formControlName="addressLine">
    <mat-error *ngIf="addresses.get('addressLine')?.errors">{{errorMessages[0]}}</mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select formControlName="city">
      <mat-option *ngFor="let city of cities" [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Zip</mat-label>
    <input matInput formControlName="zip">
    <mat-error *ngIf="address.get('city').value !== ''">{{errorMessages[1]}}</mat-error>
  </mat-form-field>

</form>
<button type="button" mat-raised-button color="accent" (click)="addAddress()">Add Address</button>
